body {
    background-image: linear-gradient(black, grey) 
}

.board {
    display: grid;
    justify-content: center;
    grid: 300px 300px 300px/ 300px 300px 300px 
}

.square {
    background-color: pink;
    border: 3px solid black;
}